<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>

<script>
/* paste this in verbatim */
window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments);};

/* customize formbutton here*/	 
formbutton("create", {
	action: "https://formspree.io/YOUR_FORM_ID",
	title: "Add your organisation details here (eg phone #, licence #, address, one-line description",
	fields: [
	{ 
		type: "email", 
		label: "Email:", 
		name: "email",
		required: true,
		placeholder: "your@email.com"
	},
	{
		type: "textarea",
		label: "Message:",
		name: "message",
		placeholder: "eg Phone #, licence #, address, one-line description",
	},
	{ type: "submit" }
	],
	styles: {
	title: {
		backgroundColor: "gray"
	},
	button: {
		backgroundColor: "gray"
	}
	},
	initiallyVisible: true
});
</script>



